* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.form-container {
    margin-top: 20px;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
form {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #008000;
    color: gold;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 0 0;
}
td {
    padding: 15px;
    text-align: left;
}
input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.error-list {
    color: red;
    list-style-type: none;
    padding: 0;
}
.button-row {
    text-align: center;
}
input[type="submit"], input[type="reset"], input[type="button"] {
    background-color: #001D4A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-size: 1.2rem;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: #002b7f;
}
#savebtn {
    background-color: #808080;
}
#savebtn:hover {
    background-color: #45a049;
}
#cancelbtn {
    background-color: #808080;
}
#cancelbtn:hover {
    background-color: #d32f2f;
}
#clearbtn {
    background-color: #808080;
    color: black;
}
#clearbtn:hover {
    background-color: #001D4A;
    color: white;
}

