body { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    margin: 0; 
    font-size: 1.5rem; 
    background-color: #f4f4f4;
} 

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 0px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    width: 100%; /* Make sure header takes full width */
    background-color: gray;
    padding: 20px;
    display: flex; /* Add flexbox layout */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    border-radius: 0px 0px 0 0;
}

h1 {
    color: white;
    margin: 0;
}

form {
    display: block;
    text-align: left;
}

label {
    margin: 10px 0;
    display: block;
}

input[type="text"], input[type="password"] { 
    width: 100%; 
    padding: 8px 20px; 
    margin: 5px 0 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
} 

.button-container {
    display: flex;
    justify-content: space-between; /* Space between buttons */
    align-items: center; 
    width: 100%; 
}

button {
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
}

button[type="submit"] {
    background-color: rgb(0,0,240); 
}

button[type="reset"] {
    background-color: rgb(240,0,0); 
}

button:hover {
    opacity: 0.8;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: rgb(0,0,240);
    text-decoration: none;
    font-size: 1rem;
}

.login-link a:hover {
    text-decoration: underline;
}
