body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black; /* Add this line to make the border black */
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    background-color: black;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 0 0;
}

h1 {
    color: white;
    margin: 0;
}

form {
    display: block;
    text-align: left;
}

label {
    margin: 10px 0;
    display: block;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    margin: 5px 0 15px;
    width: calc(100% - 40px);
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: red;
}

button:hover {
    opacity: 0.8;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: skyblue;
    text-decoration: none;
    font-size: 16px;
}

.login-link a:hover {
    text-decoration: underline;
}
